/*S04 : External CSS*/
body {
    background-color: #F5F5F5;
}

hr {
    background-color: #F5F5F5;
    border-style: none;
    border-top-style: dotted;
    border-color: #FF2E63;
    border-width: 5px;
    width: 5%;
}

h3 {
    color: #3FC1C9;
}

h1 {
    color: #3FC1C9;
}
